<% layout("/layout/boilerplate.ejs") %>

<h3 class="mt-5">Log In</h3>

<form class="col-lg-6 offset-lg-3 needs-validation" novalidate action="/login" method="post">
                <label for="username" class="form-label"> Log In</label><br>
                <input type="text" name="username" class="form-control" id="username" required>

                <label for="password" class="form-label"> Password</label><br>
                <input type="password" name="password" class="form-control" id="password" required> <br>


                <button class="btn btn-success">Log In</button>
                <a class="btn btn-dark" href="/signup">Sign Up</a>
</form>